*{
    padding: 0;
    margin:0;
    box-sizing: border-box;

}

html,body{
    background-color: rgb(99, 162, 234);
    height:100%;
}
h3{
   background-color: rgb(28, 28, 28);
   color: azure;
   padding: 20px 50px;
   text-align:center;
   font-size:30px;
   z-index:100;
   top:0;


}

.main{
    border:5px solid black;
    margin-top: 10%;
    height:80%;

}

.boxes{
    display:flex;
    flex-direction: column;
}

.boxes ul{
    margin:10px;
    width: 120px;
    padding: 30px;
    border:5px solid red;
    height:100px;
    background-color: rgb(237, 99, 99);
    font-size:20px;
    font-weight:bold;
    border-radius: 10%;

}
